<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="icon" type="image/png" href="/images/instagram.png" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #reader 
        { width: 300px;
          height: 300px; 
          margin: auto; 
          display: none; /* Hidden by default */
        } 
    </style>
</head>
<body>