<% include ./partials/header.ejs %>
<div class="relative w-full min-h-screen bg-gradient-to-b from-[#DD1180] to-[#FF8C3A] text-white py-5">
    <div class="flex justify-between items-center p-5">
      <a class="text-2xl" href="/profile"><i class="ri-close-line"></i></a>
      <h2 class="leading-none text-sm bg-[#ffffff21] px-5 py-2 rounded-full border-[1px] font-semibold border-white">COLOR</h2>
      <a class="text-2xl"><i class="ri-qr-scan-2-line"></i></a>
    </div>

    <div class="flex flex-col items-center justify-center gap-8 h-[45vh] w-[75%] bg-white absolute left-[12%] top-[20%] rounded-3xl">
         <div class="w-[43vw] h-[43vw] rounded-full flex items-center justify-center border-[2px] border-[#000]">
            <div class="w-[40vw] h-[40vw] bg-sky-100 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover" src="<%= user.picture ? `/images/uploads/${user.picture}` : '/images/peopleimg.jpg' %>?v=<%= new Date().getTime() %>" alt="">
            </div> 
         </div>
        <h3 class="text-2xl text-black"><i class="ri-at-line"></i><%= user.username %></h3>
    </div>
    <div class="flex items-center justify-center gap-9 h-[20vh] w-[75%] bg-white absolute left-[12%] top-[67%] rounded-3xl">
        <div class="flex flex-col items-center justify-center gap-1">
          <div class="w-[15vw] h-[15vw] rounded-full border-[1px] border-zinc-700 text-black flex items-center justify-center text-2xl">
            <i class="ri-share-line"></i>
          </div>
          <h4 class="text-sm text-black">Share link</h4>
        </div>
     
        <div class="flex flex-col items-center justify-center gap-1">
          <div class="w-[15vw] h-[15vw] rounded-full border-[1px] border-zinc-700 text-black flex items-center justify-center text-2xl">
            <i class="ri-links-line"></i>
          </div>
          <h4 class="text-sm text-black">Copy link</h4>
        </div>
      
        <div class="flex flex-col items-center justify-center gap-1">
          <div class="w-[15vw] h-[15vw] rounded-full border-[1px] border-zinc-700 text-black flex items-center justify-center text-2xl">
            <i class="ri-download-line"></i>
          </div>
          <h4 class="text-sm text-black">Download</h4>
        </div>
       
    </div>
</div>
<% include ./partials/footer.ejs %>